.appBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: $black;
    color: $grayone;
    
    .navBar {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // margin: auto 0 0 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    @media (min-width: 768px) {
        .navBar {
            width: 630px;
        }
    }
}


