.code_none {
    display: none
}

.code_display {
    z-index: 5;
    background: rgba(50, 50, 50, 0.85);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}