@import "../variables";
@import "../mixins";

.site_header {
    @include flexo($justify: space-between);
    @include border;
    font-family: 'Inconsolata', monospace;
    width: 100vw;
    // height: 10vh;
    height: 75px;
    background-color: $graynine;

    .profilePic {
        border-radius: 100%;
        border: 1px solid $blue;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .siteLogo {
        border-radius: 100%;
        width: 50px;
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    h1 {
        font-size: 24px;
        color: $blue;
    }
}