.friend_message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    
    .text_message {
        width: 60%;
        background-color: $graynine;
        padding: 12px;
        line-height: 22px;
        border-radius: 4px;
        
        text {
            color: $orange;
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin-right: 12px;
        border-radius: 50%;
        border: 1px solid $blue;
    }

    p {
        display: flex;
        align-items: center;
        background-color: green;
        height: 50px;
        width: 60%;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.userMessageDateStamp {
    text-align: right;
    color: $grayfive;
    font-size: 12px;
}

.user_message {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    margin-right: 20px;
    
    .text_message {
        width: 60%;
        background-color: $graynine;
        padding: 12px;
        line-height: 22px;
        border-radius: 4px;
        
        text {
            color: $blue;
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin-left: 12px;
        border-radius: 50%;
        border: 1px solid $blue;
    }
}

@media (max-width: 768px) {
    .user_message {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        margin-right: 20px;
        
        .text_message {
            width: 70%;
            background-color: $graynine;
            padding: 12px;
            line-height: 22px;
            border-radius: 4px;
        }    
    }

    .friend_message {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 95%;
        height: auto;
        margin-bottom: 10px;
        margin-left: 10px;
        
        .text_message {
            width: 70%;
            background-color: $graynine;
            padding: 12px;
            line-height: 22px;
            border-radius: 4px;
        }
    }
}

#message_picture {
    width: 100%;
    height: auto;
    @include border;
    border-radius: 0;
    margin-left: 0;
    margin-top: 10px;
    object-fit: cover;
}

#code_mode {
color: $yellow;
margin-top: 10px;
margin-bottom: 0;
}

.code_container {
    @include border;
    z-index: 0;
}