.mainPost {
    height: auto;
    width: 90%;
    background-color: $black;
    border: 1px solid $blue;

    header {
        display: flex;
        align-items: center;

        img {
            margin: 20px;
            width: 36px;
            height: 36px;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            margin: 10px;
        }

        img {
            width: 90%;
            margin: 20px;
        }
    }

    footer {
        height: 20px;

        img {
            height: 24px;
            width: 24px;
        }
    }
}