.mainPost {
    // display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: $graynine;
    border: 1px solid $blue;
    font-family: 'Inconsolata', monospace;
    color: $blue;



    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        div {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                margin: 20px;
                width: 46px;
                height: 46px;
                border-radius: 50%;
            }
    
            section {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-top: 20px;
    
                h1 {
                    font-size: 16px;
                }
    
                h3 {
                    font-size: 14px;
                }
    
                p {
                    font-size: 12px;
                }
            }
        }

    }

    main {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        h2 {
            margin: 20px 40px 20px 40px;
        }

        img {
            width: 85%;
            margin: 20px;
        }

        p {
            margin: 20px 40px 20px 40px;
            width: 85%;
            word-wrap: break-word;
        }
    }

    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;

        img {
            height: 24px;
            width: 24px;
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}