@import "../variables";
@import "../mixins";

.bg-profile {
    width: 100%;
    height: 100vh;
    font-family: 'Inconsolata', monospace;
    background-color: black;

}


.img-layer {
    @include flexo($justify: space-around, $align: top);
    font-family: 'Inconsolata', monospace;
    // padding: 15px;
    width:100%;
    height: 15vh;

    img {
        @include border($blue);
        border-radius: 100%;
        width: 60px;
        height: 60px;
        object-fit: cover;
    }
    div {
        @include flexo($direction: column, $align: center);
        margin-top: 15px;
        width: 25%;
        height: 10vh;
        h5 {
            text-decoration: underline;
            font-size: 18px;
            // @include border($orange);
            padding: 5px 5px 5px 5px;
            color: $blue;
        }
        p{
            font-size: 18px;
            color: $graytwo;
        }
    }
}
.pers-info {
    width: 100%;
    height: 20vh;
    // padding: 10px;

    div{
        // @include flexo($justify: left);
        padding: 5px;
        width: 100%;
        height: 10vh;
        p {
            margin-left: 5px;
            font-size: 13px;
           line-height: 3px;
        }
    }
    p {
        font-size: 12px;
        margin-left: 10px;
        line-height: 10px;
    }
}

.info-boxes{
    width: 100%;
}
.names {
    @include flexo($justify: space-around);
    margin-top: 30px;
    margin-bottom: 15px;
    width: 100%;
    div{
        
        p{
            margin-bottom: 10px;
        }
        input{
            height: 4vh;
            width: 100%;
            color: white;
            background-color: black;
            border: none;
            border-bottom: 1px solid $orange;
            border-left: 1px solid $orange;
            margin-bottom: 20px;
        }
    }
}
.types {
    @include flexo;
    width: 100%;
   div {
    width: 100%;
    div {
        width: 100%;
        p{
            margin-bottom: 10px;
        }
        input {
            height: 4vh;
            width: 90%;
            color: white;
            background-color: black;
            border: none;
            border-bottom: 1px solid $orange;
            border-left: 1px solid $orange;
        }
        div{
            width: 100%;
            @include flexo;
        
        select{
            width: 90%;
            height: 4vh;
            border: none;
            border-bottom: 1px solid $orange;
            border-left: 1px solid $orange;
            background-color: black;
            color: $grayone;
            margin-bottom: 30px;
        }
        #load-btn{
            width: 100%;
            @include flexo;
            height: 10vh;
        
       button {
           width: 50%;
           height: 5vh;
           @include border($orange);
           font-family: 'Inconsolata', monospace;
           background-color: black;
           color: $grayone;
           font-size: 25px;
           margin-top: 50px;
        }
    }
}
}
}
}