@import "../mixins";
@import "../variables";

.pull_up_menu {
    overflow: hidden;
}

.pull_up_none {
    display: none;
}

.pull_up_menu_content {
    z-index: 2;
    background: $grayeight;
    @include flexo(column, space-around, center);
    position: absolute;
    height: 10vh;
    bottom: 14vh;
    width: 55%;
    @include border;
    button {
        background: $grayseven;
        color: white;
        @include border($orange);
        width: 95%;
        text-align: left;
        height: 4vh;
        padding: 3px;
        &:hover {
            cursor: pointer;
        }
    }
    @media only screen and (min-width: 500px) {
        width: 40%;
    }
    @media only screen and (min-width: 630px) {
        width: 30%;
    }
    @media only screen and (min-width: 1000px) {
        width: 20%;
    }
    @media only screen and (min-width: 1300px) {
        width: 15%;
    }
    @media only screen and (min-width: 1500px) {
        width: 10%;
    }
}

.dropzone {
    width: 95%;
    @include border($orange);
    height: 4vh;
    &:hover {
        cursor: pointer;
    }

    p {
        text-align: left;
        padding: 3px;
    }
}