//colors
$red: #F3002B;
$pink: #FF41C1;
$green: #00F3C9;
$blue: #00A4F3;
$yellow: #F3C900;
$orange: #FF6C00;

// gray shades
$grayone: #F8F8F2;
$graytwo: #D0D0D0;
$graythree: #8C8C8A;
$grayfour: #787876;
$grayfive: #50504F;
$graysix: #3D3D3C;
$grayseven: #292928;
$grayeight: #191919;
$graynine: #0B0B0B;

$black: #000000;